<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet"> 
    <link rel="stylesheet" href="/styles/styles.css">
  
    <title>Alec D'Alelio</title>
</head>
<body>

  <div th:replace="fragments/navbar"></div>

    <section>
        <div class="jumbotron">
            <h3>Hi, my name is</h3>
            <h1 class="display-4 nameHeader">Alec D'Alelio ✌️ </h1>
            <h2 class="descriptHeader">I'm a full-stack developer, content creator and entrepreneur.</h2>
        </div>

        <div class="grid cardcontainer">
            <div th:each="project:${projects}">
                <div>
                    <div class="card projects">
                        <div class="card-header">
                            <h2 th:text="${project.title}"></h2>
                        </div>
                        <div class="card-body">
                            <img 
                            th:src="${project.imageURL}"
                            alt="projectimage"
                            class="center card-img"
                            >
                            <p class="projectdescription" th:text="${project.description}" />
                            <a 
                                th:href="${project.githubURL}"
                                class="ghlink"
                                target="_blank"
                                >See the code</a>
                            <!-- <a
                                th:href="@{'/project/delete/{id}'(id=${project.id})}"
                                class="btn-lg btn-danger">Delete
                            </a> 
                            <a
                                th:href="@{'/project/edit/{id}'(id=${project.id})}"
                                class="btn-lg btn-info">Update</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </section>

    <div th:replace="fragments/footer"></div>

    <script src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>

<!-- <!-- <div class="card-footer">
    <a th:href="${project.githubURL}" class="ghlogo">
        <img
        src="https://pngimg.com/uploads/github/github_PNG42.png"
        height="50px"
        width="50px"
        class="center"
        >
    </a>
    <a
    th:href="@{'/project/delete/{id}'(id=${project.id})}"
    class="btn-lg btn-danger">Delete</a> 
</div>  -->